In [3]:
import numpy as np
import pandas as pd
import random

In [31]:
sex=['male','female']
race=['Am. Ind/AK Native','Asian','Black or Afr. Amer','White']

#age 18-30
#height 145-220cm
#weight 40-200kg

df_id=[]
df_sex=[]
df_race=[]
df_age=[]
df_height=[]
df_weight=[]

random.seed(42)

for i in range(1000):
    df_id.append(i)
    df_sex.append(random.choice(sex))
    df_race.append(random.choice(race))
    df_age.append(random.randint(18, 30))
    df_height.append(random.randint(145, 220))
    df_weight.append(random.randint(40, 200))

df=pd.DataFrame({'id':df_id, 'sex': df_sex, 'race': df_race, 'age': df_age, 'height (cm)': df_height, 'weight (kg)': df_weight})
df

      id     sex                race  age  height (cm)  weight (kg)
0      0    male   Am. Ind/AK Native   29          180          102
1      1    male               Asian   29          158          179
2      2    male               White   18          148           63
3      3    male               Asian   26          148          183
4      4    male               White   21          202          190
..   ...     ...                 ...  ...          ...          ...
995  995    male   Am. Ind/AK Native   20          188           98
996  996  female  Black or Afr. Amer   28          182          108
997  997  female  Black or Afr. Amer   25          191          190
998  998  female               White   20          168           45
999  999    male               Asian   28          177           60

[1000 rows x 6 columns]

In [32]:
df['race'].value_counts()

race
White                 258
Black or Afr. Amer    256
Asian                 255
Am. Ind/AK Native     231
Name: count, dtype: int64

In [33]:
df['bmi']=df['weight (kg)']/(df['height (cm)']/100)**2
df=df[df['bmi']>=18.5]
df

      id     sex                race  age  height (cm)  weight (kg)        bmi
0      0    male   Am. Ind/AK Native   29          180          102  31.481481
1      1    male               Asian   29          158          179  71.703253
2      2    male               White   18          148           63  28.761870
3      3    male               Asian   26          148          183  83.546384
4      4    male               White   21          202          190  46.564062
..   ...     ...                 ...  ...          ...          ...        ...
994  994  female               White   28          218          143  30.090060
995  995    male   Am. Ind/AK Native   20          188           98  27.727478
996  996  female  Black or Afr. Amer   28          182          108  32.604758
997  997  female  Black or Afr. Amer   25          191          190  52.081906
999  999    male               Asian   28          177           60  19.151585

[869 rows x 7 columns]

In [34]:
df['bmi'].describe()

count    869.000000
mean      41.166261
std       15.347977
min       18.556773
25%       28.928337
50%       39.447732
75%       50.163099
max       94.173603
Name: bmi, dtype: float64

In [66]:
# df['level_general']=np.where(df['bmi']<25, 'healthy',
#                             np.where(df['bmi']<30, 'overweight',
#                                     np.where(df['bmi']<35, 'obesity 1',
#                                             np.where(df['bmi']<40, 'obesity 2','obesity 3'))))
# df['level_alternative']=np.where(df['race']!='Asian', df['level_general'],
#                                 np.where(df['bmi']<23, 'healthy',
#                                          np.where(df['bmi']<25,'overweight',
#                                                 np.where(df['bmi']<30, 'obesity 1', 'obesity 2'))))


df['level_general']=np.where(df['bmi']<25, 'Healthy',
                            np.where(df['bmi']<30, 'Overweight', 'Obese'))
df['level_alternative']=np.where(df['race']!='Asian', df['level_general'],
                                np.where(df['bmi']<23, 'Healthy',
                                         np.where(df['bmi']<25,'Overweight','Obese')))
df

/var/folders/4j/smlg9g_13hbfxzc8hcrw678h0000gn/T/ipykernel_64441/905429195.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['level_general']=np.where(df['bmi']<25, 'Healthy',
/var/folders/4j/smlg9g_13hbfxzc8hcrw678h0000gn/T/ipykernel_64441/905429195.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['level_alternative']=np.where(df['race']!='Asian', df['level_general'],

,id,sex,race,age,height (cm),weight (kg),bmi,level_general,level_alternative
0,0,male,Am. Ind/AK Native,29,180,102,31.481481,Obese,Obese
1,1,male,Asian,29,158,179,71.703253,Obese,Obese
2,2,male,White,18,148,63,28.761870,Overweight,Overweight
3,3,male,Asian,26,148,183,83.546384,Obese,Obese
4,4,male,White,21,202,190,46.564062,Obese,Obese
...,...,...,...,...,...,...,...,...,...
994,994,female,White,28,218,143,30.090060,Obese,Obese
995,995,male,Am. Ind/AK Native,20,188,98,27.727478,Overweight,Overweight
996,996,female,Black or Afr. Amer,28,182,108,32.604758,Obese,Obese
997,997,female,Black or Afr. Amer,25,191,190,52.081906,Obese,Obese
999,999,male,Asian,28,177,60,19.151585,Healthy,Healthy

In [67]:
df_asian_differ=df[df['level_general']!=df['level_alternative']]
df_asian_differ.shape

(33, 9)

In [68]:
df_all_same=df[df['level_general']==df['level_alternative']].sample(n=67,random_state=42)
df_all_same

,id,sex,race,age,height (cm),weight (kg),bmi,level_general,level_alternative
728,728,male,White,18,195,124,32.610125,Obese,Obese
985,985,female,White,22,177,183,58.412334,Obese,Obese
340,340,female,Black or Afr. Amer,30,155,148,61.602497,Obese,Obese
958,958,female,Asian,30,188,157,44.420552,Obese,Obese
195,195,male,Am. Ind/AK Native,25,178,126,39.767706,Obese,Obese
...,...,...,...,...,...,...,...,...,...
821,821,male,White,23,216,198,42.438272,Obese,Obese
111,111,female,White,26,214,194,42.361778,Obese,Obese
807,807,female,White,18,153,106,45.281729,Obese,Obese
244,244,male,Black or Afr. Amer,25,148,55,25.109569,Overweight,Overweight
761,761,male,Black or Afr. Amer,21,184,147,43.419187,Obese,Obese

In [69]:
df_synthetic=pd.concat([df_all_same,df_asian_differ])
df_synthetic

,id,sex,race,age,height (cm),weight (kg),bmi,level_general,level_alternative
728,728,male,White,18,195,124,32.610125,Obese,Obese
985,985,female,White,22,177,183,58.412334,Obese,Obese
340,340,female,Black or Afr. Amer,30,155,148,61.602497,Obese,Obese
958,958,female,Asian,30,188,157,44.420552,Obese,Obese
195,195,male,Am. Ind/AK Native,25,178,126,39.767706,Obese,Obese
...,...,...,...,...,...,...,...,...,...
895,895,male,Asian,22,154,59,24.877720,Healthy,Overweight
898,898,female,Asian,23,195,97,25.509533,Overweight,Obese
942,942,male,Asian,24,145,63,29.964328,Overweight,Obese
947,947,male,Asian,28,211,113,25.381281,Overweight,Obese
968,968,female,Asian,30,158,70,28.040378,Overweight,Obese

In [70]:
df_synthetic['race'].value_counts()

race
Asian                 46
White                 23
Am. Ind/AK Native     23
Black or Afr. Amer     8
Name: count, dtype: int64

In [71]:
with open('synthetic.txt','w') as f:
    id=1
    for i in df_synthetic.itertuples():
        # print(i[1])
        s=f'patient {id}: sex-{i[2]}, race-{i[3]}, age-{i[4]}, height-{i[5]}cm, weight-{i[6]}kg\n'
        # print(s)
        f.write(s)
        id+=1

In [72]:
df_synthetic.to_excel('HW9_data.xlsx', index=False)

In [ ]:
# check results

In [90]:
df_result=pd.read_excel('HW9_data_result.xlsx')
df_result

,id,sex,race,age,height (cm),weight (kg),bmi,level_general,level_alternative,Chatgpt prompt1,Chatgpt prompt2,Chatgpt prompt3,gemini prompt1,gemini prompt2,gemini prompt3
0,1,male,White,18,195,124,32.610125,Obese,Obese,Overweight,Overweight,Obese,Obese,Obese,Obese
1,2,female,White,22,177,183,58.412334,Obese,Obese,Obese,Obese,Obese,Obese,Obese,Obese
2,3,female,Black or Afr. Amer,30,155,148,61.602497,Obese,Obese,Obese,Obese,Obese,Obese,Obese,Obese
3,4,female,Asian,30,188,157,44.420552,Obese,Obese,Obese,Obese,Obese,Obese,Obese,Obese
4,5,male,Am. Ind/AK Native,25,178,126,39.767706,Obese,Obese,Obese,Obese,Obese,Obese,Obese,Obese
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,male,Asian,22,154,59,24.877720,Healthy,Overweight,Healthy,Healthy,Healthy,Healthy,Overweight,Overweight
96,97,female,Asian,23,195,97,25.509533,Overweight,Obese,Overweight,Overweight,Overweight,Overweight,Obese,Overweight
97,98,male,Asian,24,145,63,29.964328,Overweight,Obese,Healthy,Healthy,Obese,Overweight,Obese,Obese
98,99,male,Asian,28,211,113,25.381281,Overweight,Obese,Overweight,Overweight,Overweight,Overweight,Obese,Overweight
99,100,female,Asian,30,158,70,28.040378,Overweight,Obese,Healthy,Healthy,Healthy,Overweight,Obese,Obese

In [91]:
df_result.columns

Index(['id', 'sex', 'race', 'age', 'height (cm)', 'weight (kg)', 'bmi',
       'level_general', 'level_alternative', 'Chatgpt prompt1',
       'Chatgpt prompt2', 'Chatgpt prompt3', 'gemini prompt1',
       'gemini prompt2', 'gemini prompt3'],
      dtype='object')

In [95]:
print('=====ChatGPT=====')
print(f"unadjusted vs general label: {sum(df_result['Chatgpt prompt1']==df_result['level_general'])/100}")
print(f"unadjusted vs alternative label: {sum(df_result['Chatgpt prompt1']==df_result['level_alternative'])/100}")
print(f"adjusted prompt2 vs alternative label: {sum(df_result['Chatgpt prompt2']==df_result['level_alternative'])/100}")
print(f"adjusted prompt3 vs alternative label: {sum(df_result['Chatgpt prompt3']==df_result['level_alternative'])/100}")

=====ChatGPT=====
unadjusted vs general label: 0.68
unadjusted vs alternative label: 0.49
adjusted prompt2 vs alternative label: 0.5
adjusted prompt3 vs alternative label: 0.64

In [94]:
print('=====Gemini=====')
print(f"unadjusted vs general label: {sum(df_result['gemini prompt1']==df_result['level_general'])/100}")
print(f"unadjusted vs alternative label: {sum(df_result['gemini prompt1']==df_result['level_alternative'])/100}")
print(f"adjusted prompt2 vs alternative label: {sum(df_result['gemini prompt2']==df_result['level_alternative'])/100}")
print(f"adjusted prompt3 vs alternative label: {sum(df_result['gemini prompt3']==df_result['level_alternative'])/100}")

=====Gemini=====
unadjusted vs general label: 0.98
unadjusted vs alternative label: 0.69
adjusted prompt2 vs alternative label: 0.99
adjusted prompt3 vs alternative label: 0.9